# Example 1 - Data Manipulation

## Introductions

Performing any in-depth analysis is challenging. So over the years our team has introduced different teaching styles to smoothen the learning curve. This series of notebooks will help guide your team through the fundamentals of data science and will show you a prime example of a winning analysis. We highly encourage everyone to read through the examples and complete the workshop.

This year, we are going with a Wikipedia-style tutorial series where our tutorials for the week will be split into two different onebooks; one for the example analysis, and another for the workshops. Throughout the example, hyperlinks will connect the two workshops and will allow you to jump from notebook to notebook. These hyperlinks serve just like the ones on Wikipedia, they help round your knowledge if you come accross an unfamiliar concept in the examples. We found that students learnt best by supporting new concepts explained in the workshops with an actual example in an analysis.

Nonetheless, go through the material in whatever order you like! Don't feel scared to complete the workshops then view the Examples. Remember to ask for help on Slack if we didn't do a good enough job at explaining!

Best wishes,<br>
The STEM Fellowship Data Science Team

## Step 1: Looking At Data

The first step in any analysis is to look for a good dataset. You generally want datasets that aren't missing values, contains many descriptive variables, and pertains to a topic that could a candidate for an analysis. Our team has viewed dozens of datasets and struggled to select the best one for this analysis so don't get discouraged! We didn't know what our analysis should be so we brainstormed topics, gathered more datasets, and rejected ideas. This proccess takes a while but once your team has a direction you'll do fine.

Our team has decided to look at the Air Quality dataset provided by the EPA (United States Environmental Protection Agency). When finding data make sure to look for a README for context on the column headers.

 - The Dataset: https://aqs.epa.gov/aqsweb/airdata/download_files.html#main-content
 - README: https://aqs.epa.gov/aqsweb/airdata/FileFormats.html

Since the dataset contains 11 million rows we've provided a minimized version for those with less powerful computers. For benchmarks, it could run on a 7-year-old computer with 8GB of ram.

In [2]:
import pandas as pd

In [7]:
data1 = pd.read_csv("datasets/annual_aqi_by_cbsa_2018.csv")
data2 = pd.read_csv("datasets/annual_aqi_by_county_2018.csv")
data3 = pd.read_csv("datasets/annual_conc_by_monitor_2018.csv")

In [9]:
data1.head()

,CBSA,CBSA Code,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10
0,"Aberdeen, WA",10140,2018,31,30,1,0,0,0,0,57,38,26,0,0,0,0,31,0
1,"Akron, OH",10420,2018,90,71,19,0,0,0,0,79,60,37,0,0,27,0,63,0
2,"Albany, GA",10500,2018,59,44,15,0,0,0,0,79,64,29,0,0,0,0,59,0
3,"Albany-Schenectady-Troy, NY",10580,2018,90,69,21,0,0,0,0,78,60,40,0,0,52,0,38,0
4,"Alexandria, LA",10780,2018,28,26,2,0,0,0,0,54,49,27,0,0,0,0,28,0

In [11]:
data2.head()

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10
0,Alabama,DeKalb,2018,58,58,0,0,0,0,0,44,37,31,0,0,58,0,0,0
1,Alabama,Etowah,2018,59,27,31,0,1,0,0,153,62,52,0,0,0,0,59,0
2,Alabama,Jefferson,2018,59,38,21,0,0,0,0,72,57,47,0,1,6,7,44,1
3,Alabama,Mobile,2018,59,55,4,0,0,0,0,53,38,17,0,0,0,20,39,0
4,Alabama,Morgan,2018,59,54,5,0,0,0,0,56,50,29,0,0,0,0,59,0

In [12]:
data3.head()

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Sample Duration,...,75th Percentile,50th Percentile,10th Percentile,Local Site Name,Address,State Name,County Name,City Name,CBSA Name,Date of Last Change
0,1,55,10,88502,3,33.991494,-85.992647,NAD83,Acceptable PM2.5 AQI & Speciation Mass,1 HOUR,...,16.1,12.0,6.3,GADSDEN C. COLLEGE,"1001 WALLACE DRIVE, GADSDEN, AL 35902",Alabama,Etowah,Gadsden,"Gadsden, AL",2018-05-09
1,1,55,10,88502,3,33.991494,-85.992647,NAD83,Acceptable PM2.5 AQI & Speciation Mass,24-HR BLK AVG,...,15.5,12.7,7.3,GADSDEN C. COLLEGE,"1001 WALLACE DRIVE, GADSDEN, AL 35902",Alabama,Etowah,Gadsden,"Gadsden, AL",2018-05-09
2,1,73,23,42401,2,33.553056,-86.815000,WGS84,Sulfur dioxide,1 HOUR,...,2.8,1.7,0.2,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2018-04-12
3,1,73,23,42401,2,33.553056,-86.815000,WGS84,Sulfur dioxide,1 HOUR,...,0.7,0.3,0.0,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2018-04-12
4,1,73,23,42401,2,33.553056,-86.815000,WGS84,Sulfur dioxide,24-HR BLK AVG,...,0.9,0.5,0.1,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2018-04-12

In [15]:
print(data1.columns)
print(data2.columns)
print(data3.columns)
#I googled around and found what a cbsa is https://en.wikipedia.org/wiki/Core-based_statistical_area

Index(['CBSA', 'CBSA Code', 'Year', 'Days with AQI', 'Good Days',
       'Moderate Days', 'Unhealthy for Sensitive Groups Days',
       'Unhealthy Days', 'Very Unhealthy Days', 'Hazardous Days', 'Max AQI',
       '90th Percentile AQI', 'Median AQI', 'Days CO', 'Days NO2',
       'Days Ozone', 'Days SO2', 'Days PM2.5', 'Days PM10'],
      dtype='object')
Index(['State', 'County', 'Year', 'Days with AQI', 'Good Days',
       'Moderate Days', 'Unhealthy for Sensitive Groups Days',
       'Unhealthy Days', 'Very Unhealthy Days', 'Hazardous Days', 'Max AQI',
       '90th Percentile AQI', 'Median AQI', 'Days CO', 'Days NO2',
       'Days Ozone', 'Days SO2', 'Days PM2.5', 'Days PM10'],
      dtype='object')
Index(['State Code', 'County Code', 'Site Num', 'Parameter Code', 'POC',
       'Latitude', 'Longitude', 'Datum', 'Parameter Name', 'Sample Duration',
       'Pollutant Standard', 'Metric Used', 'Method Name', 'Year',
       'Units of Measure', 'Event Type', 'Observation Count',
       'Observation Percent', 'Completeness Indicator', 'Valid Day Count',
       'Required Day Count', 'Exceptional Data Count', 'Null Data Count',
       'Primary Exceedance Count', 'Secondary Exceedance Count',
       'Certification Indicator', 'Num Obs Below MDL', 'Arithmetic Mean',
       'Arithmetic Standard Dev', '1st Max Value', '1st Max DateTime',
       '2nd Max Value', '2nd Max DateTime', '3rd Max Value',
       '3rd Max DateTime', '4th Max Value', '4th Max DateTime',
       '1st Max Non Overlapping Value', '1st NO Max DateTime',
       '2nd Max Non Overlapping Value', '2nd NO Max DateTime',
       '99th Percentile', '98th Percentile', '95th Percentile',
       '90th Percentile', '75th Percentile', '50th Percentile',
       '10th Percentile', 'Local Site Name', 'Address', 'State Name',
       'County Name', 'City Name', 'CBSA Name', 'Date of Last Change'],
      dtype='object')

In [17]:
# I only want the lat lon and Datum
data3 = data3[["Latitude","Longitude","Datum"]]
data3.head(2)

    Latitude  Longitude  Datum
0  33.991494 -85.992647  NAD83
1  33.991494 -85.992647  NAD83